html, body {
    background-color: darkcyan;
}
h1 {
    font-family: 'Arial', sans-serif;
    color: black;
    text-align: left;
}
button {
    background-color: darkcyan;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    cursor: pointer;
    margin-left: auto; /* împinge butonul în dreapta */
}
header {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* titlul la stânga */
  padding: 20px;
  background-color: aquamarine;
  color: white;
  width: 94%;
  text-align: center;
    border-radius: 20px;
}